<topiclist>
    <span>主题: <input ref="topic" type="text" value="topic_hello"/></span>
    <span>开始时间: <input ref="begin" type="date" value="2021-01-01"/></span>
    <span>结束时间: <input ref="end" type="date" value="2021-12-30"/></span>
    <button onclick={ submit }>查询</button>

    <ul>
        <li each={ item, i in items }>{ i+1 } -- { JSON.stringify(item.v) } -- { Date.fmt(item.stat.ctime)}  &nbsp; &nbsp;
        <button class="btn-resend" val={item.k.id} onclick="{resend}" >重发</button>
        </li>
    </ul>

    <page-nav></page-nav>

    <!-- style -->
    <!-- logic -->
    <!--suppress JSAnnotator -->
    <script>
        var tag = this;
        tag.items = []
        var queryUrl = "/topic/q";
        var pageNumber = 1;
        var pageSize = 10;
        var topic = "";
        var begin = "";
        var end = "";
        submit(e){
            e.preventDefault();
            query(queryUrl, pageNumber, pageSize);
        }
        eventBus.on("page-limit-change", function (size) {
            pageSize = size;
            query(queryUrl, 1, size);
        });

        eventBus.on("page-number-change", function (pageNumber) {
            query(queryUrl, pageNumber, pageSize);
        });

        var query = function (url, pageNumber, pageSize) {
            topic = $("[ref='topic']").attr("value");
            begin = $("[ref='begin']").attr("value");
            end = $("[ref='end']").attr("value");
            if (topic == "") {
                console.log("topic is null!");
                return;
            }
            var params = {"topic": topic, "begin": begin, "end": end, "pageNumber": pageNumber, "pageSize": pageSize};
            $.get(url, params, function (data) {
                if (data != null) {
                    console.log(data.items);
                    tag.items = data.items;
                    //传值给分页条
                    eventBus.trigger("page-result", data.total, pageNumber, pageSize);
                    tag.update();
                }
            });
            tag.refs.topic = topic;
            tag.refs.begin = begin;
            tag.refs.end = end;
        }
        //重发
        resend(e){
            var id =e.target.getAttribute("val")
            var url = "/resend";
            var params = {"msgid": id}
            $.get(url, params, function (data) {
                if (data != null) {
                    console.log(data);
                }
            });
        }

    </script>
</topiclist>